* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the body of the page */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010101;
}

/* Stylingthe last h2 tag by giving margin bottom */
.progress-bar-container:not(:last-child) {
    margin-bottom: 50px;
}

/* Styling the h2 tag by giving color,
letter spacing, font-size etc.*/
.progress-bar-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    letter-spacing: 1px;
    font-size: 20px;
}

/* Styling the border and box
effect of the progress bar*/
.progress-bar {
    left: 22%;
    position: relative;
    /* width: auto; */
    height: 10px;
    margin-top: 5px;

    /* width: 800px;
    height: 5px;
    margin-top: 10px; */
    border: 1px solid #565656;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(245, 159, 0);
}

/* Stylingthe background color of each
animation and border radius */
.percentage {
    display: block;
    height: 100%;
    background-color: orange;
    border-radius: 5px;
    animation: progress 1500ms ease-in 1;
}

/* Assigning width of each languages*/
/* .hp {
    width: 85%;
}

.attack {
    width: 70%;
}

.defense {
    width: 55%;
}

.specialAttack {
    width: 75%;
}

.specialDefense {
    width: 65%;
}

.speed {
    width: 55%;
} */

/* Animating the progress bar by
initially starting from 0*/
@keyframes progress {
    from {
        width: 0;
    }
}